<%= render(partial: 'layouts/page_header', locals: {
  icon: 'user',
  title: 'Usuários',
  subtitle: 'Cadastrados'
}); %>

<div class="container page-container">
  <table class="table is-bordered">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Equipe</th>
        <th>Permissões</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name_or_email %></td>
          <td><%= user.squad_name %></td>
          <td><%= user.roles.map(&:name).sort.join(', ') %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
