<div class="container">
  <h1 class="title is-2">Usuários Cadastrados</h1>

  <table class="table is-bordered">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Equipe</th>
        <th>Permissões</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name_or_email %></td>
          <td><%= user.squad_name %></td>
          <td><%= user.roles.map(&:name).sort.join(', ') %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
