<%= render(partial: 'layouts/page_header', locals: {
  icon: 'chart-bar',
  title: 'Relatórios',
  subtitle: 'Evolução Pessoal'
}); %>

<div class="container page-container">
  <%=
    line_chart @chart_data,
      title: 'Média de SPs por dia por Sprint',
      xtitle: "Sprint",
      ytitle: "SP/dia",
      curve: false,
      legend: false
  %>
</div>