<div class="sprintfy-sprint-reports box">
  <div class="report">
    <div class="title">O que deu certo?</div>
    <div class="text">
      <%= simple_format @did_right_text %>
    </div>
  </div>

  <div class="report">
    <div class="title">O que deu errado?</div>
    <div class="text">
      <%= simple_format @did_wrong_text %>
    </div>
  </div>

  <div class="report">
    <div class="title">O que mudar?</div>
    <div class="text">
      <%= simple_format @what_to_change_text %>
    </div>
  </div>
</div>