<ul>
  <% @complete_goals.each do |goal| %>
    <li style="color: #090;"><b><%= goal.description %></b></li>
  <% end %>

  <% @incomplete_goals.each do |goal| %>
    <li style="color: #c00;"><b><%= goal.description %></b></li>
  <% end %>
</ul>
