<div class="container">
  <h1 class="title is-2">Equipes</h1>

  <div class="columns">
    <div class="column is-one-third">
      <table class="table is-bordered">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Membros</th>
          </tr>
        </thead>

        <tbody>
          <% @squads.each do |squad| %>
            <tr>
              <td><%= squad.name %></td>
              <td><%= squad.users.count %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
