<div class="container">
  <h1 class="title is-2">Nova Equipe</h1>

  <div class="columns">
    <div class="column is-one-third">
      <%= form_for @squad, url: { action: 'create' } do |f| %>
        <%= f.label 'Nome da Equipe', class: 'label' %>
        <p class="control">
          <%= f.text_field :name, class: 'input' %>
        </p>

        <%= f.submit 'Criar Equipe', class: 'button is-primary' %>
      <% end %>
    </div>
  </div>
</div>
