<header class="hero is-link page-header">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Esqueceu sua senha?
      </h1>
    </div>
  </div>
</header>
<div class="container page-container">
  <div class="columns">
    <div class="column is-one-third">
    </div>

    <div class="column is-one-third">
      <h2 class="title"></h2>

      <%= form_for(@user, url: create_user_password_path, html: { method: :patch }) do |f| %>
        <div class="field">
          <div class="control">
            <%= f.label :email, class: 'label' %>
            <%= f.email_field :email, class: 'input', autofocus: true %>
          </div>
        </div>

        <%= f.submit 'Enviar instruções para criar nova senha', class: 'button is-rounded is-primary' %>
      <% end %>
    </div>
  </div>
</div>
