.filter-graph{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.filter-graph button{
  font-size: 16px;
  padding: 6px;
  border-radius: 3px;
  text-align: center;
}

.filter-graph .options,
.filter-graph form{
  width: 100%
}

.filter-graph select{
  font-size: 16px;
  padding: 5px;
  width: 183px;
  margin: 0px 0px;
  border-radius: 0px;
}

.filter-graph .param{
  width: 22%;
  display: inline-block;
}
