.sprintfy-sprint-users {
  margin-top: 60px;

  .sprintfy-sprint-users-table {
    margin-top: 15px;
  }
}

.sprintfy-sprint-title {
  .counter {
    color: #414141;
  }
}

.sprintfy-sprint-daily-meetings {
  margin: 40px 0;
}

.sprintfy-sprint-goal.incomplete {
  margin: 20px 0;
  border: none !important;

  background-color: #ffffdf;
}

.sprintfy-sprint-goal.complete {
  background-color: #dfffdf;
}

.sprintfy-sprint-reports {
  .report {
    .title {
      font-size: 16px;
      font-weight: 700;

      margin-bottom: 10px;
    }

    .text {
      margin-bottom: 20px;
      color: black;
    }
  }
}

.sprintfy-what-to-change {
  .title {
    font-weight: 700;
  }

  .text {
    color: black;
    font-size: 16px;
  }
}

.sprintfy-daily-meeting-done {
  background: #dfffdf;
}

.sprintfy-daily-meeting-not-done {
  background: #ffcccc;
}

.sprintfy-daily-meeting-skipped {
  color: #555 !important;
}

.sprintfy-daily-meeting-incomplete {
  background: #ffffdf;
}

.sprintfy-daily-meeting-disabled {
  color: #bbb !important;
}

.sprintfy-summary-sps {
  background: #eeeeee;
  font-weight: bold
}

.sprintfy-closing-table-center {
  text-align: center;
}
