.sprintfy-sprint-users {
  margin-top: 60px;

  .sprintfy-sprint-users-table {
    margin-top: 15px;
  }
}

.sprintfy-sprint-goals {
  margin: 50px 0;


  .sprintfy-sprint-goal {
    margin: 20px 0;
    border: none !important;

    background-color: #ffffdf;
  }

  .sprintfy-sprint-goal.goal-complete {
    background-color: #dfffdf;
  }
}
