.sprintfy-user-sprint {
  margin: 20px 0;
  font-size: 16px;

  .counter {
    color: #414141;
  }

  .date {
    color: #414141;
  }
}

.succeded-sprint {
  background-color: #dfffdf;
}

.partially-succeded-sprint {
  background-color: #ffffdf;
}

.failed-sprint {
  background-color: #ffcccc;
}
