<h1 class="title is-2">RELATÓRIOS</h1>

<div class="filter-graph">
    <h3>Selecione o Período</h3>
    <select id="period">
      <option value='sprint'>Sprint</option>
      <option value='week'>Semanal</option>
      <option value='month'>Mensal</option>
    </select>

    <h3>Selecione a base de usuários</h3>
    <select>
      <option value='single'>Individual</option>
      <option value='team'>Equipe</option>
      <option value='everyone'>Todos</option>
    </select>

    <h3>Selecione o Usuário</h3>
    <input/>

    <button type="button" name="button">Gerar Gráfico</button>
</div>

<br>
<%=
  line_chart @month_all_data,
    title: 'SP por Mês para Todos os Usuários',
    xtitle: "Sprint",
    ytitle: "SP/dia",
    curve: false,
    legend: false
%>
<br>
<%=
  line_chart @sprint_squad_data,
    title: 'SP por Sprint para uma equipe',
    xtitle: "Sprint",
    ytitle: "SP/dia",
    curve: false,
    legend: false
%>
