<h1 class="title is-2">RELATÓRIOS</h1>

<div class="filter-graph">
  <%= form_for '', :url => { action: "index", builder: ReportsController} ,method: :get do |f| %>
    <div class="options">
      <div class="param">
        <h3>Selecione o Período</h3>
        <select name="period">
          <option value='sprint'>Sprint</option>
          <option value='week'>Semanal</option>
          <option value='month'>Mensal</option>
        </select>
      </div>

      <div class="param">
        <h3>Selecione a base de usuários</h3>
        <select name='group'>
          <option value='everyone'>Todos</option>
          <option value='squad'>Equipe</option>
          <!-- <option value='single'>Individual</option> -->
        </select>
      </div>
      <div class="param">
      <h3>Selecione a Equipe</h3>
        <%= select("squad","squad_id",Squad.all.collect{|s| [s.name, s.id]}, {include_blank: true}) %>
      </div>
      <div class="param">
        <%= f.submit 'Gerar Relatório'%>
      </div>
    </div>
  <% end %>
</div>
<br>

<%=
  line_chart @data[:data],
    title: @data[:name],
    xtitle: @data[:period],
    ytitle: "SP",
    curve: false,
    legend: false
%>
