<p>Olá <%= @resource.name_or_email %>!</p>

<p>Você pode alterar sua senha no Sprintfy usando o link abaixo</p>

<p><%= link_to 'Mudar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se não foi você quem pediu a mudança de senha, ignore este e-mail.</p>
